{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}


{% block navbar %}
    {{ nav.nav_bar.render() }}
{% endblock %}


{% block metas %}
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
{% endblock %}

{% block title %}
    作品上传
{% endblock %}

{% block content %}

    {{ util.flashed_messages(dismissible=True) }}
    <div class="container">
        <div style="text-align: center">
            <h2>{{ act.title }}</h2>
            <h2>登录</h2>
        </div>
        {{ wtf.quick_form(form, form_type='horizontal',button_map={'submit_button': 'primary'}) }}
    </div>

    <div style="display: table;width: auto;margin-left: auto;margin-right: auto;">
        <h3>{{ act.note }}</h3>
    </div>

{% endblock %}

