{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}


{% block navbar %}
    {{ nav.nav_bar.render() }}
{% endblock %}


{% block metas %}
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
{% endblock %}

{% block title %}
    数计网络部
{% endblock %}

{% block content %}



    <div style="text-align: center;"><h1>{{ act.title }}</h1></div>
    {{ util.flashed_messages(dismissible=True) }}
    {% if act.reg_enable %}
    <div class="container">
        {{ wtf.quick_form(form, form_type='horizontal',button_map={'submit_button': 'primary'}) }}
    </div>
    {% else %}
        <h2 style="text-align: center">现在不是报名时间,请在活动首页查看通知.</h2>
    {% endif %}
    <div style="display: table;width: auto;margin-left: auto;margin-right: auto;">
        <h3>{{ act.note }}</h3>
    </div>


{% endblock %}

