{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}


{% block navbar %}
    {{ nav.nav_bar.render() }}
{% endblock %}


{% block metas %}
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
{% endblock %}

{% block title %}
    数计网络部
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1>{{ act.title }}</h1>
        <h1>报名成功!</h1>
        <br/>
        <h3>请核对您的个人信息</h3>
        <br/>
        <h4>学号:{{ user.stu_code }}</h4>
        <h4>姓名:{{ user.name }}</h4><br>
        {% if act.team_enable %}
            <h4>团队信息:{{ user.team }}</h4>
            <br><br>
            <h4><a href= {{ url_for('modify_team',activity=act.activity_name) }}>团队信息修改</a></h4>
        {% endif %}
    </div>

{% endblock %}

