{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block navbar %}
    {{ nav.nav_bar_admin.render() }}
{% endblock %}

{% block metas %}
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
{% endblock %}

{% block content %}
    <h1>上传清单</h1>

    <table class="table">

        <thead>
        <tr>
            <th>用户</th>
            <th>时间</th>
            <th>大小</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        {% for one in data %}
            <tr>
                <td><span>{{ one.user }}</span></td>
                <td><span>{{ one.time }}</span></td>
                <td><span>{{ one.size }}</span></td>
                <td><span><a href="{{ url_for("download_file",filename = one.user)}}">下载</a> </span></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}