{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}


{% block navbar %}
    {% if user.is_admin() %}
    {{ nav.nav_bar_admin.render() }}
    {% else %}
    {{  nav.nav_bar.render() }}
    {% endif %}
{% endblock %}


{% block metas %}
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
{% endblock %}

{% block title %}
    作品上传
{% endblock %}

{% block content %}
    {{ util.flashed_messages(dismissible=True) }}
    <h3>Hello {{ user.user }}</h3>
    <p>{{ l_s_m }}</p>
    <div class="container">
        {{ wtf.quick_form(form, form_type='horizontal',button_map={'submit_button': 'primary'}) }}
    </div>

{% endblock %}

