{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
{% block metas %}
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
{% endblock %}

{% block title %}
    网络文化节报名页面
{% endblock %}

{% block content %}
    <div style="margin-top: 2em;padding: 2em">
        <div style = "display: table;width: auto;margin-left: auto;margin-right: auto;">
        <h1>请选择您的去向~</h1>
            {% for act in acts %}
                <a href="{{ url_for('reg',activity=act.activity_name) }}">
                {% if not act.reg_enable and not act.upload_enable %}
                    <h3 style="color: gray">(不在报名时间){% else %}<h3>
                {% endif %}
                     {{ act.title }}
                     {% if act.reg_enable %}报名{% endif %}
                     {% if act.upload_enable %} 作品提交{% endif %}
                 </h3></a>
            {% endfor %}
            <br><br>
            <div>
<br><br><br>
    <h2>各项通知:</h2>

{% for act in acts %}
{% if act.note != "" and not act.hide%}
<h3>{{act.title}}:</h3>
<h4>{{act.note | safe}}</h4>
{%endif%}

{% endfor %}

</div>
        </div>



    </div>
{% endblock %}