{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}
{% block metas %}
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
{% endblock %}

{% block title %}
    网络文化节报名页面
{% endblock %}

{% block content %}
    <div style="margin-top: 2em;padding: 2em">
        <div style = "display: table;width: auto;margin-left: auto;margin-right: auto;">
        <h1>请选择您的去向~</h1>
            {% for act in acts %}
                <a href="{{ url_for('reg',activity=act.activity_name) }}">
                {% if not act.reg_enable %}
                    <h3 style="color: gray">(不在报名时间){% else %}<h3>
                {% endif %}

                     {{ act.title }}
                     {% if act.upload_enable %}报名/作品提交{% else %}报名{% endif %}

                 </h3></a>
            {% endfor %}
            <br><br>
        </div>
    </div>
{% endblock %}